<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watilion.mywarehouse">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cang_launcher_web"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".enter.EnterActivity"></activity>
        <activity android:name=".query.QueryActivity"></activity>
        <activity android:name=".listview.ListActivity"></activity>
    </application>

</manifest>